:root{

    /* ========= Farben ========= */

    --color-background: #F7F3EC;
    --color-surface: #FFFFFF;

    --color-primary: #556B3D;
    --color-primary-hover: #495C34;

    --color-secondary: #6E2F2F;

    --color-text: #2F3432;
    --color-text-light: #666666;

    --color-accent: #B89452;

    --color-border: #E8E1D7;

    /* ========= Schriften ========= */

    --font-heading: "Cormorant Garamond", serif;
    --font-body: "Inter", sans-serif;

    /* ========= Größen ========= */

    --container-width: 1320px;

    --radius-small: 8px;
    --radius-medium: 16px;
    --radius-large: 30px;

    /* ========= Schatten ========= */

    --shadow-soft:
        0 10px 30px rgba(0,0,0,.05);

    /* ========= Abstände ========= */

    --section-padding: 120px;

    --transition:
        all .3s ease;
}